<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="self-center text-xl font-semibold whitespace-nowrap text-4xl"></h1>
       
  </div>
  <br>

  <div id="items" class="min-w-full">
    <%= render @items %>
    
    <center><%= paginate @items %></center>
          
  </div>
</div>


