/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {}

#page-container {
    position: relative;
    min-height: 63vh;
}

#body {
    background-color: rgb(27, 39, 58);
}

#footer {
    position: sticky;
    width: 100%;
    flex-shrink: 0;
    grid-row-start: 2;
    grid-row-end: 3;
}

.edit-icon {}

.show-icon {
    color: lightgreen;
}

#pagination {
    align-items: center;
    color: white;
}

#login-card{
    width: 400px;
    height: auto;
}

#sing_up-card{
    width: 400px;
    height: auto;
}